# Activate the virtual environment automatically with direnv
export VIRTUAL_ENV=.venv
layout python3

# Make sure all dependencies are installed
pip3 install -r requirements.txt

# Settings in start.sh of core repository
export AWS_ACCESS_KEY_ID="FANCY-ROOT-KEY"
export AWS_SECRET_ACCESS_KEY="SECRET"
